/* 
    Document   : Quick
    Created on : Jul 22, 2014, 10:15:10 PM
    Author     : Design_mylife
    Description:Multi options one page creative theme for agencies
    Version    : V1.0
*/
html, body{
    height:100%;
}
body { 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Raleway', sans-serif;
    color:#999;
    font-size: 14px;
    line-height: 24px;
    background-color: #121214;
}

/*
/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color:#777;
    text-decoration: none;
}
a:hover{
    color:#f1c40f;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
    color:#fff;
}
.section-padding{
    padding-top: 80px;
    padding-bottom: 50px;

}
.divided-50{
    height: 50px;
    width:100%;
}
.margin-btm-30{
    margin-bottom: 30px;
}
::selection {
    background: #f1c40f; /* Safari */
    color: #fff;
}
::-moz-selection {
    background:#f1c40f; /* Firefox */
    color: #fff;
}
/**********bootstrap navigation overrides***********/
.navbar-default {
    background-color: #333;
    border:0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width:100%;
    min-height: 70px;
    padding: 10px 0;
}
.navbar {
    position: relative;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default .navbar-nav>li>a {
    font-size: 11px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#f1c40f;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #f1c40f;
    background-color: transparent;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 38px;
    line-height: 20px;
    color:#fff !important;
    font-family: 'Syncopate', cursive;
    font-weight: 400;
}
/*****************home ********
******************************/
#home {
    background-color: #444;
    background-position: center 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: url(../img/lower-saranac.jpg);
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
}
.parallax-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44,62,80,0.2);
    z-index: 2;
}
.home-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 3;
}
h1.slide-logo{
    color:#fff;
    margin-top:0;
    margin-bottom: 40px;
    font-family: 'Syncopate', cursive;
    font-weight: 400;
    font-size: 50px;
}
h2.slide-btm-text{

    text-align: center;
    margin: 30px 0;
    font-weight: 300;
    color:#fff;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}
.main-flex-slider{
    text-align: center;
    overflow: hidden;
}

.main-flex-slider h1{
    font-size: 6em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 60px;
    margin:0;
}
@media(max-width:767px){
    .main-flex-slider h1{
        font-size: 4em;
    }   
}
@media(max-width:420px){
    .main-flex-slider h1{
        font-size: 3em;
    }   
    h2.slide-btm-text{
        display: none;
    }
    .home-link-btn{
        margin-top: 10px;
    }
}
/***************buttons*****************************/
.btn {
    font-weight: 500;
    font-size: 16px;
    text-shadow: none !important;
    -webkit-text-shadow:none !important;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 1px;
}
.btn-xs{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
}
.btn-border-white{
    border: 2px solid #fff;
    color:#fff;

}
.btn-border-white:hover{
    color:#333;
    border-color: #fff;
    background-color: #fff;
}
.btn-dark{
    background-color: #333;
    color:#fff;
}
.btn-dark:hover{
    color:#fff;
    background-color: #f1c40f;
}
.btn-theme{
    background-color: #f1c40f;
    color:#fff;
}
.btn-theme:hover{
    color:#fff;
    background-color: #333;
}

/*heading center**/
.center-heading {
    margin-bottom: 40px
}
.center-heading h2 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
}

.center-heading .icon {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    width: 130px;
    margin: 0 auto;
    position: relative;
    color:  #999;
}
.center-heading .icon:before {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #999;
    position: absolute;
    left: 0;
    top: 10px;
    width: 50px;
}
.center-heading .icon:after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #999;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
}

/*************parallax*************/
.parallax {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

}
/**services****/
.service-box{
    text-align: center;
}
.service-box i{
    width:60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color:#f1c40f;
    font-size: 40px;
    margin-bottom: 20px;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}
.service-box:hover i{
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}
.service-box h3{
    font-weight: 300;
}

/*team*/
.team-col{
    text-align: center;
    margin-bottom: 25px;
}
.team-col img{
    max-width: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    position: relative;
    top: 0px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: top 0.15s linear;
    -moz-transition: top 0.15s linear;
    -ms-transition: top 0.15s linear;
    -o-transition: top 0.15s linear;
    transition: top 0.15s linear;
}
.team-col h4{
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 0px;
    color:#fff;
}
.team-col span{
    color:#777;
    font-size: 12px;
}
.team-col:hover img{
    top: -5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5);
}
/**testimonials**/
.testimonials{
    background:url(../img/sebasco.jpg);
    padding: 80px 0;
}
.bg-heading .center-heading h2{
    color:#fff;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.33);
}
.bg-heading .center-heading .icon {

    color:  #fff;
}
.bg-heading .center-heading .icon:before {
    border-color: #fff;
}
.bg-heading .center-heading .icon:after {
    border-color: #fff;
}
#testi-carousel h4{
    color:#fff;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}
#testi-carousel p{
    color:#f1c40f;
}

/**cta-1**/
.cta-1{
    padding: 40px 0;
    background-color: #f1c40f;
}
/**cta-2**/
.cta-2{
    padding: 40px 0;
    background-color: #333;
}
/**cta-2**/
.cta-3{
    padding: 40px 0;
    background-color:#f1c40f;
}
.cta-3 h3{
    color:#fff;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Syncopate', cursive;
    font-weight: 400;
}
/***our services****/
.service-icon i{
    width:70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color:#fff;
    background-color: #f1c40f;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    margin-bottom: 10px;
    font-size: 30px;
}
.service-info h4{
    color:#f1c40f;
    font-size: 24px;
    font-weight: 100;
}

.service-info h3 {
    color:#f1c40f;
    font-size: 18px;
    font-weight: 100;
}

.service-info p{
    color:#fff;
    font-weight: 300;
}


/***************portfolio***********/
/*mix it up filter*/
#grid .mix{
    display: none;
    opacity: 0;
}

.portfolio-filters{
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}
.portfolio-filters li{
    display:inline-block;
    border:1px solid #999;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 10px ;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    color:#999;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}
.portfolio-filters li:hover{
    background-color: #f1c40f;
    color:#fff;
    border-color:#f1c40f;
}
.portfolio-filters li.active{
    background-color: #f1c40f;
    color:#fff;
    border-color:#f1c40f;
}

/************************image hover effect*******************/

.item-img-wrap{
    position: relative;
    text-align: center;
    overflow: hidden;

}
.item-img-wrap img{
    -webkit-transition:all 200ms linear; 
    -moz-transition:all 200ms linear; 
    -o-transition:all 200ms linear; 
    -ms-transition:all 200ms linear; 
    transition:all 200ms linear; 
}
.item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
}
.item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/plus.png) no-repeat center center rgba(241, 196, 15, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}


/***pricing tables****/
.plan-wrap{
   background-color: #444;
}
.price-title{
    padding: 20px 0;
    background: #777;
    text-align: center;
}
.price-title h4{
    margin: 0;
}
.plan-price{
    padding: 20px 0;  
    text-align: center;
    border-bottom: 1px solid #555;
}
.plan-price h2 span{
    font-size: 12px;
    font-weight: 300;
    vertical-align: middle;
    color:#999;
    margin-right: 5px;
}
.plan-price h2{
    font-size: 45px;
    color:#fff;
    margin: 0;
}
.plan-features li{
    display: block;
    margin: 0;
    padding: 10px 30px;
    border-bottom: 1px solid #555;
    font-size: 16px;
}

.plan-features li i{
    margin-right: 15px;
    color:#999;
}
.plan-link{
    padding: 15px 0;
    text-align: center;
}
.plan-wrap.popular .price-title{
    background-color: #f1c40f;
    color:#fff;
}

/***contact***/
.address-info h3{
    font-weight: 400;
    color:#fff;
    margin-bottom: 20px;
    font-size: 17px;
}
.address-info p i{
    color:#f1c40f;
    margin-right: 10px;
}
.address-info p{
    color:#777;
}
.social li a i{
    font-size: 20px;
    color:#777;
    width:40px;
    margin-bottom: 3px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #444;
    -webkit-transition:all 200ms linear; 
    -moz-transition:all 200ms linear; 
    -o-transition:all 200ms linear; 
    -ms-transition:all 200ms linear; 
    transition:all 200ms linear; 
}
.social li a i:hover{
    color:#fff;
    background-color: #f1c40f;
}

.contact-form form .form-control{
    min-height: 45px;
}
/*forms*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control{
    border: 0;
    -webkit-border-radius: 1px;
   border-radius: 1px;
    font-size: 15px;
    color: #7a7a7a;

    background: #444;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus{
    border-color: #777;
    background: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/*********footer************/
#footer{
    padding: 40px 0;
    background-color: #efefef;
}
a.to-top{
    color:#000 !important;
    font-family: 'Syncopate', cursive;
    font-weight: 400;
    font-size: 44px;
}
#footer span{
    display: block;
    margin-top: 15px;
}


/***************blog****************/
.blog-desc h3{
    margin-top:12px;
    margin-bottom: 7px;
    font-weight: 300;
}
.blog-desc span{
    color:#777;
    font-size: 13px;
    display: block;
}
.blog-desc p{
    margin: 10px 0;
}
.blog-intro-text .center-heading h2{
    font-size: 50px;
    text-transform: uppercase;
}
.blog-intro-text h5{
    color:#fff;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 35px;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid rgba(255,255,255,.3);
}
.blog-post-info h3{
    font-weight: 300;
    margin: 13px 0;
}
.blog-post-info h3 a{
    color:#fff;
}
.blog-post-info h3 a:hover{
    color:#f1c40f;
}
.blog-post-info p{
    font-size: 13px;
}
.blog-post-wrap{
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.post-date{
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.post-left-info{
    text-align: right;
}
.post-left-info p{
    margin: 5px 0;
    font-size: 12px;
   
}
.post-left-info p i{
    margin-right: 5px;
    color:#777;

}
iframe {
    border: none;
    width:100%;
}

/*sidebar**/
.post-sidebar-box{
    margin-bottom: 30px;
}
.post-sidebar-box h4{
    font-size: 17px;

}
.post-sidebar-box p{
    font-size: 13px;
}
.cat-list li{
    padding: 5px 0;
    border-bottom: 1px solid #333;
}
.cat-list li a{
    color:#888;
    margin-right: 10px;
    font-size: 12px;
}
.cat-list li i{
    color:#888;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.cat-list li:hover i{
    margin-left: 5px;
}
.cat-list li a:hover{
    color:#f1c40f;
}
blockquote{
    color:#999;
}
.post-cmnt-wrap h4{
    margin-bottom: 25px;
}
.comment-list{
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #666;
    background-color: #444;
}
.comment-list h4{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 500;
}
.comment-list h4 a{
    color:#f1c40f;
    margin-left: 8px;
}
.comment-list h4 a:hover{
    text-decoration: underline;
}
.comment-list h4 img{
    width:70px;
    height: 70px;
    margin-right: 20px;
    float: left;
}
.comment-list p{
    overflow: hidden;
    font-size: 13px;
}
.comment-form{
    margin-top: 60px;
}
.comment-form h4{
    margin-bottom: 25px;
}

.goals-skills-wrap h2{
    font-weight: 300;
    margin-bottom: 30px;
}
.pager li>a, .pager li>span {
display: inline-block;
padding: 5px 14px;
background-color: #555;
border: 0;
border-radius: 15px;
color:#fff;
}
.pager li>a:hover{
    color:#fff;
    background-color: #f1c40f;
}
/*progress bar*/
h3.heading-progress {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 0px;
}
.progress {
    height: 15px;
    line-height: 10px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #E9E9E9;
    border-radius: 6px;
}
.progress-bar {
    line-height: 10px;
    background:#f1c40f;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*******fun-facts****/
.fun-facts{
    background: url('../img/sebasco-dockhouse.jpg');
    padding: 80px 0;
}
.fact-inner h1{
    color:#fff;
    font-size: 64px;
    font-weight: 800;
}
.fact-inner h3{
    color:#fff;
    font-weight: 300;
    margin-bottom: 0px;
}